.The_Big_colors {
    background-color: navajowhite;
}

.The_prissy_thingy {
    margin-left: 45%;
    padding: 15px 30px;
    background-color: #3498db;
    color: snow;
    font-size: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(5, 256, 60, 5);
    transition: background-color 1.3s ease;
}

.The_prissy_thingy:hover {
    background-color: #476b83;
}
.cool_big_board {
    border: 5px solid navy;
    text-align: center;
    margin: 10%;
    padding: 20px;
}

@media (max-width: 768px) {
    .image-To_contain_the_fun {
        padding: 5px;
    }

    .Click_me_crazy{
        font-size: 16px;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .image-To_contain_the_fun {
        max-width: 100%;
    }

    .Click_me_crazy {
        font-size: 14px;
        padding: 5px 10px;
    }
}

@media (max-width: 320px) {
    .Click_me_crazy {
        font-size: 12px;
        padding: 3px 8px;
    }
}


.Very_end {
    text-align: center;
    margin: 10% auto;
    word-spacing: 10px;
}

#fetchDataButton {
    margin: 0 auto;
    display: block;
    margin-top: 20px;
}
